:root {
  --bs-primary: #f4f4f4;
  --bs-secondary: #fafafa;
  --bs-light: #f4f4f4;
  --bs-dark: #1a1a1a;
  --bs-primary-rgb: 26, 26, 26;
  --bs-secondary-rgb: 244, 244, 244;
  --bs-light-rgb: 244, 244, 244;
  --bs-dark-rgb: 26, 26, 26;
}

/* font family */

@font-face {
  font-family: "PlusJakartaSans";
  src: url("../../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}

/* General */

::selection {
  background: var(--bs-primary);
  color: var(--bs-dark);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
  z-index: 9999;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
.form-label{
text-transform: capitalize;
}
/* Track */

::-webkit-scrollbar-track {
  background: var(--bs-light);
  z-index: 9999;
  cursor: pointer;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--bs-dark);
  z-index: 9999;
  cursor: pointer;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--bs-dark);
  z-index: 9999;
  cursor: pointer;
}

* {
  font-family: "PlusJakartaSans", sans-serif;
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

.main-content {
  min-height: 100vh;
  padding-bottom: 100px;
}

.primary-btn {
  font-size: 16px;
  padding: 12px 30px;
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.large-btn {
  padding: 16px 45px;
}

.primary-btn:hover {
  color: #212529;
  background-color: transparent;
  border-color: #212529;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: var(--bs-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-inner {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: url(../../assets/img/logo-icon.png) center center no-repeat;
  background-size: contain;
  animation: rotate-animation 5s infinite linear;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.layout-sidenav {
  display: flex;
}

.layout-sidenav .layout-sidenav-nav {
  flex-basis: 270px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
  transform: translateX(-270px);
}

.layout-sidenav .layout-sidenav-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 81px);
  margin-left: -270px;
  background: #fff;
}

.cat-sidenav-toggled .layout-sidenav .layout-sidenav-nav {
  transform: translateX(0);
}

.cat-sidenav-toggled .layout-sidenav .layout-sidenav-content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bs-light);
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .layout-sidenav .layout-sidenav-nav {
    transform: translateX(0);
  }

  .layout-sidenav .layout-sidenav-content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }

  .cat-sidenav-toggled .layout-sidenav .layout-sidenav-nav {
    transform: translateX(-270px);
  }

  .cat-sidenav-toggled .layout-sidenav .layout-sidenav-content {
    margin-left: -270px;
  }

  .cat-sidenav-toggled .layout-sidenav .layout-sidenav-content:before {
    display: none;
  }
}

.cat-nav-fixed .cat-topnav {
  z-index: 1039;
}

.cat-nav-fixed .layout-sidenav .layout-sidenav-nav {
  width: 270px;
  height: 100vh;
  z-index: 1038;
}

.cat-nav-fixed .layout-sidenav .layout-sidenav-nav .cat-sidenav {
  padding-top: 56px;
}

.cat-nav-fixed .layout-sidenav .layout-sidenav-nav .cat-sidenav .cat-sidenav-menu {
  overflow-y: auto;
}

.cat-nav-fixed .layout-sidenav .layout-sidenav-content {
  padding-left: 225px;
  top: 56px;
}

.nav .nav-link .cat-nav-link-icon,
.cat-sidenav-menu .nav-link .cat-nav-link-icon {
  margin-right: 0.5rem;
}

.cat-topnav {
  padding: 0;
  z-index: 1039;
  background: var(--bs-light);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.cat-topnav .navbar-brand {
  width: 270px;
  margin: 0;
  background: var(--bs-light);
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.cat-topnav .navbar-brand img {
  height: 50px;
}

.cat-topnav .navbar-brand img.navbar-icon {
  display: none;
}

.cat-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}

.cat-sidenav .cat-sidenav-menu {
  flex-grow: 1;
  background: var(--bs-light);
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.cat-sidenav .cat-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}

.cat-sidenav .cat-sidenav-menu .nav .cat-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cat-sidenav .cat-sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
  font-size: 14px;
  color: var(--bs-dark);
}

.cat-sidenav .cat-sidenav-menu .nav .nav-link.active,
.cat-sidenav .cat-sidenav-menu .nav .nav-link:hover {
  background: var(--bs-dark);
  color: #fff;
}

.cat-sidenav .cat-sidenav-menu .nav .nav-link .cat-nav-link-icon {
  font-size: 16px;
  width: 20px;
  text-align: center;
}

.cat-sidenav .cat-sidenav-menu .nav .nav-link .cat-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}

.cat-sidenav .cat-sidenav-menu .nav .nav-link.collapsed .cat-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}

.cat-sidenav .cat-sidenav-menu .nav .cat-sidenav-menu-nested {
  flex-direction: column;
  background: var(--bs-light);
  margin: 0 10px;
}

.cat-sidenav .cat-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}

.navbar-toggler-bars {
  width: 30px;
  display: block;
  background: var(--bs-dark);
  height: 2px;
}

.navbar-toggler-bars~.navbar-toggler-bars {
  margin-top: 7px;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.navbar-expand .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 15px 0;
}

.navbar-expand .navbar-nav .nav-link:hover,
.navbar-expand .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.dropdown-toggle::after {
  color: var(--bs-dark);
}

.modal-backdrop.show {
  opacity: 0.7;
}

.modal-content {
  border-radius: 15px;
}

.form-control,
.form-select {
  padding: 15px;
  border-radius: 10px;
  background: var(--bs-gray-600);
  border-color: rgba(0, 0, 0, 0.2);
  color: var(--bs-dark);
}

.form-control:hover,
.form-control:focus,
.form-select:hover,
.form-select:focus {
  border-color: var(--bs-dark);
  background: transparent;
  color: var(--bs-dark);
}

/* .btn {
  background: var(--bs-dark);
} */

option {
  background-color: var(--bs-light);
}

.page-link,
.page-item.disabled .page-link {
  background: transparent;
}

.pagination .page-link {
  color: var(--bs-dark);
}

.toast-container {
  z-index: 999999;
}

.page-item.active .page-link {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

.form-check-input:checked {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

/* Responsive */

@media (max-width: 992px) {
  .cat-topnav .navbar-brand img.navbar-icon {
    display: block;
    width: auto;
  }

  .cat-topnav .navbar-brand img.navbar-horizontal-logo {
    display: none;
  }

  .cat-topnav .navbar-brand {
    padding: 20px;
    width: auto;
  }
}

/* login page Start */
.login-wrapper {
  position: relative;
}

.login-wrapper::before {
  content: "";
  background-image: url('../img/login-bg.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-attachment: fixed;
  opacity: 0.4;
}

.login-wrapper .form-control {
  border: 1px solid #eee;
  border-radius: 6px;
}

.login-wrapper .form-floating>label {
  color: #7a7a7a;
}

.login-wrapper .switcher-text {
  color: #121212;
  font-weight: 400;
  font-size: 15px;
  margin-top: 5px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.login-wrapper .switcher-text a {
  color: #121212;
  font-weight: 600;
  text-decoration: none;
}

.login-wrapper .switcher-text a:hover {
  color: #666;
}

.login-wrapper .btn {
  font-size: 18px;
  font-weight: 500;
  outline: none;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: capitalize;
  background-color: #121212;
  padding: 10px 36px;
  margin-bottom: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.login-wrapper .btn:hover {
  background: transparent;
  border-color: #121212;
  color: #121212;
}

/* login page End */