@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Light.ttf") format("truetype-variations");
  font-weight: 300;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Regular.ttf") format("truetype-variations");
  font-weight: 400;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Medium.ttf") format("truetype-variations");
  font-weight: 500;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-SemiBold.ttf") format("truetype-variations");
  font-weight: 600;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Bold.ttf") format("truetype-variations");
  font-weight: 700;
}

@font-face {
  font-family: "PlusJakartaSans";
  src: url("../fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
}
/* Default body font */
body { font-family: 'Montserrat', sans-serif; }
